.show-menu[b-1r56i3d9i2] {
    display: block;
}

.user-button[b-1r56i3d9i2] {
    margin-left: .5rem;
}

.top-row a[b-1r56i3d9i2] {
    margin-left: 0px;
}

.dropdown-item:hover[b-1r56i3d9i2] {
    background-color: white;
}
