/* /Pages/Cart.razor.rz.scp.css */
.container[b-t1zsu6xowb] {
    display: flex;
    padding: 6px;
}

.image-wrapper[b-t1zsu6xowb] {
    width: 150px;
    text-align: center;
}

.image[b-t1zsu6xowb] {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name[b-t1zsu6xowb] {
    flex-grow: 1;
    padding: 6px;
}

.cart-product-price[b-t1zsu6xowb] {
    font-weight: 600;
    text-align: right;
}

.btn-delete[b-t1zsu6xowb] {
    background: none;
    border: none;
    padding: 0;
    color: red;
    font-size: 12px;
}

    .btn-delete:hover[b-t1zsu6xowb] {
        text-decoration: underline;
    }

.input-quantity[b-t1zsu6xowb]{
    width:70px;
}
/* /Pages/ProductDetails.razor.rz.scp.css */
.container[b-kkq2wenuy1] {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

img[b-kkq2wenuy1] {
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px;
}

    img:hover[b-kkq2wenuy1] {
        transform: scale(1.1) rotate(5deg);
    }

.featured-product[b-kkq2wenuy1] {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 200px;
}

@media (max-width: 1023) {
    .container[b-kkq2wenuy1] {
        justify-content: flex-start;
    }
}
/* /Shared/FeaturedProducts.razor.rz.scp.css */
.container[b-pdmjwuiuv9] {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

img[b-pdmjwuiuv9]{
    max-width: 200px;
    max-height: 200px;
    border-radius: 6px;
    transition: transform .2s;
    margin-bottom: 10px;
}

    img:hover[b-pdmjwuiuv9]{
        transform: scale(1.1) rotate(5deg);
    }

.featured-product[b-pdmjwuiuv9]{
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 200px;
}

@media (max-width: 1023) {
    .container[b-pdmjwuiuv9] {
        justify-content: flex-start;
    }
}
/* /Shared/HomeButton.razor.rz.scp.css */
.home-button[b-vrjxjb9zw6]{
    white-space: nowrap;
    margin-right: 10px;
    transform: rotate(-3deg);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-hon43hsaks] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hon43hsaks] {
    flex: 1;
}

.sidebar[b-hon43hsaks] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-hon43hsaks] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hon43hsaks]  a, .top-row[b-hon43hsaks]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-hon43hsaks]  a:hover, .top-row[b-hon43hsaks]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-hon43hsaks]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hon43hsaks] {
        display: none;
    }

    .top-row.auth[b-hon43hsaks] {
        justify-content: space-between;
    }

    .top-row[b-hon43hsaks]  a, .top-row[b-hon43hsaks]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hon43hsaks] {
        flex-direction: row;
    }

    .sidebar[b-hon43hsaks] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-hon43hsaks] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-hon43hsaks]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-hon43hsaks], article[b-hon43hsaks] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-i4elx1kq6m] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-i4elx1kq6m] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-i4elx1kq6m] {
    font-size: 1.1rem;
}

.oi[b-i4elx1kq6m] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-i4elx1kq6m] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-i4elx1kq6m] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-i4elx1kq6m] {
        padding-bottom: 1rem;
    }

    .nav-item[b-i4elx1kq6m]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-i4elx1kq6m]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-i4elx1kq6m]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-i4elx1kq6m] {
        display: none;
    }

    .collapse[b-i4elx1kq6m] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ProductList.razor.rz.scp.css */
.media-img[b-tjeqzqbdd8] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.media-img:hover[b-tjeqzqbdd8] {
    transform: scale(1.1);
}

.media-img-wrapper[b-tjeqzqbdd8] {
    width: 200px;
    text-align: center;
}

.page-selection[b-tjeqzqbdd8]{
    margin-right: 50px;
    margin-bottom: 30px;
}

@media (max-width: 1023)
{
    .media[b-tjeqzqbdd8] {
        flex-direction: column;
    }

    .media-img-wrapper[b-tjeqzqbdd8] {
        width: 100%;
        height: auto;
    }
   
}
/* /Shared/ShopLayout.razor.rz.scp.css */
.page[b-by16qpkqqj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-by16qpkqqj] {
    flex: 1;
}

.nav-menu[b-by16qpkqqj] {
    background-image: linear-gradient(180deg, rgb(44, 62, 80) 0%, rgb(52, 73, 94) 70%);
}

.top-row[b-by16qpkqqj] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-by16qpkqqj]  a, .top-row[b-by16qpkqqj]  .btn-link {
        white-space: nowrap;
        margin-left: .5rem;
        text-decoration: none;
    }

    .top-row[b-by16qpkqqj]  a:hover, .top-row[b-by16qpkqqj]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-by16qpkqqj]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row.auth[b-by16qpkqqj] {
        justify-content: space-between;
    }

    .top-row[b-by16qpkqqj]  a, .top-row[b-by16qpkqqj]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-by16qpkqqj] {
        flex-direction: row;
    }

    .top-row[b-by16qpkqqj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-by16qpkqqj]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-by16qpkqqj], article[b-by16qpkqqj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/ShopNavMenu.razor.rz.scp.css */
.navbar-toggler[b-ujbydjw4ih] {
    color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ujbydjw4ih] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ujbydjw4ih] {
    font-size: 1.1rem;
}

.oi[b-ujbydjw4ih] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ujbydjw4ih] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    padding-top:.5rem;
}

    .nav-item[b-ujbydjw4ih]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ujbydjw4ih]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ujbydjw4ih]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.flex-nav[b-ujbydjw4ih]{
    flex-direction:column;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ujbydjw4ih], .navbar-toggler-wrapper[b-ujbydjw4ih] {
        display: none;
    }

    .flex-nav[b-ujbydjw4ih] {
        flex-direction: row;
        display:flex;
    }

    .collapse[b-ujbydjw4ih] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
